apiVersion: v1
kind: Service
metadata:
  name: mysql
spec:
  selector:
   app: mysql
  ports:
    - port: 3306
  # ClusterIP set to None so it will take mysql pod IP as ClusterIP
  clusterIP: None